<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h3>Inventario de libros</h3>
    </div>
    
    <table class="table table-striped table-hover aling-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Año</th>
            <th scope="col">Genero</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of libros">
            <th scope="row">{{libro.idLibro}}</th>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.anio}}</td>
            <td>{{libro.genero}}</td>
            <td class="text-center">
              <div>
                <button class="btn btn-warning btn-sm me-3" (click)="editarLibro(libro.idLibro)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="eliminarLibro(libro.idLibro)">Eliminar</button>
              </div>
            </td>
          </tr>  
        </tbody>
      </table>
</div>
